<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>dog-adoption</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/adoption.css" />
	</head>
	<body>
		<div id="container">
			<header>
				<h1>입양하기</h1>
			</header>
			<nav>
				<ul>
					<li><a href="layout.html">애완견 종류</a></li>
					<li><a href="adoption.html">입양하기</a></li>
					<li><a href="health.html">건강돌보기</a></li>
					<li><a href="together.html">더불어살기</a></li>
				</ul>
			</nav>
			<section>
				<article>
					<div class="videoframe">
						<img src="../image/layout_icon.png" />
						<h3>입양의 의미</h3>
						<p class="video"><iframe src="https://www.youtube.com/embed/oKwxu00FEQo"></iframe></p>
					</div>
					<div class="checklist">
						<img src="../image/layout_icon.png" />
						<h3>입양 전 점검해야 할 체크리스트</h3>
						<ul>
							<li>반려동물을 맞이할 환경적 준비, 마음의 각오는 되어 있습니까?</li>
							<li>개, 고양이는 10~15년 이상 삽니다. 결혼, 임신, 유학, 이사 등으로 가정환경이 바뀌어도 한번 인연을 맺은 동물은 끝까지 책임지고 보살피겠다는 결심이 섰습니까?</li>
							<li>모든 가족과의 합의는 되어 있습니까?</li>
							<li>반려동물을 기른 경험이 있습니까? 내 동물을 위해 공부할 각오가 되어 있습니까?</li>
							<li>아플 때 적절한 치료를 해주고, 중성화수술(불임수술)을 실천할 생각입니까?</li>
							<li>입양으로 인한 경제적 부담을 짊어질 의사와 능력이 있습니까?</li>
							<li>우리 집에서 키우는 다른 동물과 잘 어울릴 수 있을지 고민해보았습니까?</li>
						</ul>
					</div>
					<div class="goods">
						<img src="../image/layout_icon.png" />
						<h3>입양 전 준비물</h3>
						<p><button type="button" onclick="location.href='https://www.dogmate.co.kr/blog/2018/12/20/%EA%B0%95%EC%95%84%EC%A7%80-%EC%9E%85%EC%96%91-%EC%A0%84-%EC%A4%80%EB%B9%84%EB%AC%BC/'" class="button">참고사이트</button></p>
						<ul>
							<li>밥그릇과 물그릇</li>
							<li>음식과 간식</li>
							<li>애견 방석/집</li>
							<li>산책 용품</li>
							<li>배변 패드/배변판</li>
							<li>미용용품</li>
							<li>캐리어/유모차</li>
							<li>장난감</li>
						</ul>
					</div>
					<div class="site">
						<img src="../image/layout_icon.png" />
						<h3>입양 사이트</h3>
						<dl>
							<dt><a href="http://pawinhand.kr/">포인핸드</a></dt>
							<dd>유기동물들에게 소중한 가족을 찾아주는 플랫폼</dd>
						</dl>
						<dl>
							<dt><a href="https://www.animal.go.kr/">동물보호관리시스템</a></dt>
							<dd>유실·유기동물 구조 및 진단, 치료, 보호, 관리하며 입양·분양 동물보호 교육 및 홍보 또한 담당</dd>
						</dl>
						<dl>
							<dt><a href="https://www.zooseyo.or.kr/">종합유기견보호센터</a></dt>
							<dd>유기견보호센터로 강아지 실종신고, 보호소 무료분양, 자원봉사활동을 담당</dd>
						</dl>
					</div>
				</article>
			</section>
			<aside>
				<h3>입양절차</h3>
				<ul>
					<li><a href="https://www.animal.go.kr/">동물보호관리시스템</a>홈페이지에서 '유실유기동물 > 보호중 동물' 확인</li>
					<li>동물보호센터 방문 전, 공고번호 확인 후 전화문의 및 방문 일정 예약</li>
					<li>유실유기동물 입양 희망 시 서류 작성 등 입양 신청</li>
					<li>동물의 건강상태, 특성에 대한 설명과 동물 등록, 인식표&목줄 착용, 안전조치 등 양육정보를 교육 받은 후 입양 진행</li>
				</ul>
			</aside>
			<footer>
				Copyright &copy; 1998-2022 KH Information Educational Institute All Right Reserved.
				Contact webmaster for more information. 1544-9970
			</footer>
		</div>
	</body>
</html>
