<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>dog-adoption</title>
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<style>
			.video iframe {
				margin: 10px;
			}
			.checklist ul {
				padding-top: 20px;
			}
			.checklist li {
				margin: 20px 10px 0px 0px;
				clear: both;
			}
			.site a {
				color: purple;
			}
			
		</style>
	</head>
	<body>
		<div class="container">
			<header>
				<h1>입양하기</h1>
			</header>
			<div class="section-aside">
			<section>
				<nav>
					<ul>
						<li><a href="layout.html">애완견 종류</a></li>
						<li><a href="adoption.html">입양하기</a></li>
						<li><a href="health.html">건강돌보기</a></li>
						<li><a href="together.html">더불어살기</a></li>
					</ul>
				</nav>
					<article>
						<div>
							<img src="../image/bg_layout.png" />
							<h3>입양의 의미</h3>
							<p class="video"><iframe width="290px" height="190px" src="https://www.youtube.com/embed/oKwxu00FEQo"></iframe></p>
							
							<dl>
								<dt>요크셔테리어</dt>
								<dd>생기있고 활당한 성질을 가지고 있으며 자신보다 몸집이 큰 개나 집에 들어온 침입자를 겁내는 일이 없어 좋은 번견이고 우리나라 최고의 가정견으로 자리잡고 있다.</dd>
							</dl>
						</div>
						<div class="checklist">
							<img src="../image/bg_layout.png" />
							<h3>입양 전 점검해야 할 체크리스트</h3>
							<ul>
								<li>반려동물을 맞이할 환경적 준비, 마음의 각오는 되어 있습니까?</li>
								<li>개, 고양이는 10~15년 이상 삽니다. 결혼, 임신, 유학, 이사 등으로 가정환경이 바뀌어도 한번 인연을 맺은 동물은 끝까지 책임지고 보살피겠다는 결심이 섰습니까?</li>
								<li>모든 가족과의 합의는 되어 있습니까?</li>
								<li>반려동물을 기른 경험이 있습니까? 내 동물을 위해 공부할 각오가 되어 있습니까?</li>
								<li>아플 때 적절한 치료를 해주고, 중성화수술(불임수술)을 실천할 생각입니까?</li>
								<li>입양으로 인한 경제적 부담을 짊어질 의사와 능력이 있습니까?</li>
								<li>우리 집에서 키우는 다른 동물과 잘 어울릴 수 있을지 고민해보았습니까?</li>
							</ul>
						</div>
						<div class="site">
							<img src="../image/bg_layout.png" />
							<h3>입양 사이트</h3>
							<dl>
								<dt><a href="http://pawinhand.kr/">포인핸드</a></dt>
								<dd>유기동물들에게 소중한 가족을 찾아주는 플랫폼</dd>
							</dl>
							<dl>
								<dt><a href="https://www.animal.go.kr/">동물보호관리시스템</a></dt>
								<dd>유실·유기동물 구조 및 진단, 치료, 보호, 관리하며 입양·분양 동물보호 교육 및 홍보 또한 담당</dd>
							</dl>
						</div>
					</article>
				</section>
				<aside>
					<h3>건강한 강아지는</h3>
					<ul>
						<li>코가 젖어있고 눈꼽이 없어야 합니다.</li>
						<li>털에 윤기가 있는 것을 골라야 합니다.</li>
						<li>입에서 고약한 냄새가 나면 병이 있다는 증거입니다.</li>
						<li>가장 활발하게 움직이는 녀석을 고르는 게 좋습니다.</li>
						<li>강아지들 중에서 적당한 체구를 유지한 강아지가 좋습니다.</li>
					</ul>
				</aside>
			</div>
			<footer>
				Copyright &copy; 1998-2022 KH Information Educational Institute All Right Reserved.
				Contact webmaster for more information. 1544-9970
			</footer>
		</div>
	</body>
</html>
