<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>dog-health</title>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
      <link rel="stylesheet" type="text/css" href="../css/layout.css" />
      <link rel="stylesheet" type="text/css" href="../css/health.css" />
      
   </head>
   <body>
      <div id="container">
         <header>
            <h1>건강돌보기 - 강아지를 키우기 위한 필수 tip</h1>
         </header>
         
         <nav>
            <ul>
               <li><a href="layout.html">애완견 종류</a></li>
               <li><a href="adoption.html">입양하기</a></li>
               <li><a href="health.html">건강돌보기</a></li>
               <li><a href="together.html">더불어살기</a></li>
            </ul>
         </nav>
         
         <section>
            <article>
               <div class="main">
	               <img src="../image/layout_icon.png" />
                   <h3>건강을 위한 기본사항</h3>
	               <dl>
	                  <dt>1. 최적의 수분 공급 유지</dt>
	                     <dd>신선한 물로 자주 갈아주세요. 구슬형 물통은 NO!</dd>                  
	               </dl>
	               <dl>
	                  <dt>2. 양질의 식단 제공, 비만 예방</dt>
	                     <dd>크기, 연령, 활동 수준 및 품종에 따라 제시하는 영양 요구 사항에 따른 식이권장을 따르세요. </dd>   
	               </dl>
	               <dl>
	                  <dt>3. 정기적인 수의사에 의한 건강검진</dt>
	                     <dd>정기적으로 예방 접종 일정, 구충 및 외부 기생충 방지에 대해 검진을 받아보세요. </dd>
	               
	               </dl>
	               <dl>
	                  <dt>4. 규칙적인 운동과 산책</dt>
	                     <dd>강아지의 적당한 몸매 유지를 위해서는 규칙적인 운동이 필요합니다.</dd>               
	               </dl>
	               <dl>
	                  <dt>5. 꾸준한 치아 관리</dt>
	                     <dd>잇몸 질환으로 인한 조기 치아 상실을 방지해야 합니다. 최소 하루에 1회 이상의 양치는 필수!</dd>                  
	               </dl>
	               <dl>
	                  <dt>6. 발톱 손질과 다듬기</dt>
	                     <dd>지나치게 자란 발톱은 보행에 어려움을 주며 발바닥에 상처를 내므로 1달에 1번 이상 깎아주어야 해요.</dd>               
	               </dl>
               </div>
           
               <div class="injection">
               <img src="../image/layout_icon.png" />
                  <h3 class="h3">예방접종 종류</h3>
                  <ul class="ul1">
                     <li>종합백신</li>
                     <li>코로나 장염</li>
                     <li>켄넬코프</li>
                     <li>광견병</li>
                     <li>인플루엔자</li>
                  </ul>
               </div>
            
			   <div class="food">
				    <img src="../image/layout_icon.png" />
	                <h3 id="food-title">반려견에게 절대 주면 안되는 10가지 식품</h3>
	                <ul class="ul2">
	                    <li>인공 감미료</li>
	                    <li>알코올</li>
	                    <li>아보카도</li>
	                    <li>카페인</li>
	                    <li>초콜릿</li>
	                    <li>튀김과 기름진 음식</li>
	                    <li>마늘과 양파</li>
	                    <li>포도와 건포도</li>
	                    <li>견과류</li>
	                    <li>우유, 크림 및 치즈</li>
	                </ul>
			   </div>
            
               <div class="videoframe">
               <img src="../image/layout_icon.png" />
                  <h3>양치 하는 법</h3>
	                  <p class="video"><iframe src="https://www.youtube.com/embed/1-hmIa0E_jA"></iframe>
	                  <p>어렸을 때부터 양치와 친해지도록 훈련하는 것이 중요해요!</p>            
               </div>
            
               <div class="videoframe">
               <img src="../image/layout_icon.png" />
                  <h3>발톱 깎는 법</h3>
	                  <p class="video"><iframe src="https://www.youtube.com/embed/qKCX7VxiXlo"></iframe>
	                  <p>혼자서 발톱 깎기가 너무 어렵다면, 건강 체크 겸 동물병원에 위생미용을 맡겨도 괜찮아요.</p>             
               </div>
            </article>
		</section>
		
		<aside>
            <h3>일상에서 실천 가능한 강아지 장수 비결</h3>
            <ul>
               <li>산책 충분히 시키기</li>
               <li>체중 관리하기</li>
               <li>매일 양치질 하기</li>
               <li>정기검진 하기</li>
            </ul>
		</aside>
		<footer>
            Copyright &copy; 1998-2022 KH Information Educational Institute All Right Reserved.
            Contact webmaster for more information. 1544-9970
		</footer>
      </div>
   </body>
</html>
