<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>okonomiyaki</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../css/okonomiyaki.css" />
		
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>Yoko's Kitchen</h1>
				<nav>
					<ul>
						<li><a href="main.html" class="current">홈</a></li>
						<li><a href="">교실</a></li>
						<li><a href="">케이터링</a></li>
						<li><a href="">소개</a></li>
						<li><a href="">연락처</a></li>
					</ul>
				</nav>
			</header>
		
			<section class="courses">
				<article class="more-articles">
					<h2>일본식 지짐 오코노미야키</h2>
					<img src="../image/okonomiyaki.jpg" alt="okonomiyaki" />
					<div>오코노미야키(일본어: お好み焼き)는 일본식 지짐으로 히로시마, 오사카에서 많이 먹는다.</div>
					<div>오코노미라는 명칭은 "당신이 좋아하는" 또는 "당신이 좋아하는 것"을 의미하는 "오코노미"라는 단어와 "조리된 것"을 의미하는 "야키"에서 파생되었다.</div>
					<div>오코노미야키 소스는 다코야키 소스와 유사한 맛이지만 다코야키 소스에 비해서 달다.</div>
				</article>
				<article class="more-articles">
					<h2>오코노미야키 만드는 방법</h2>
					<p class="video"><iframe width="290px" height="190px" src="https://www.youtube.com/embed/9hjbPcz0atg"></iframe></p>
					<div>양배추, 달걀, 밀가루 등으로 반죽하고 겉에는 삼겹살을 3장 정도 붙여서 지진다.</div>
					<div>양면이 구워진 후에는 가쓰오부시와 특유의 오코노미야키 소스, 마요네즈 등을 위에 뿌려서 먹는다.</div>
				</article>
			</section>
			
			<aside>
				<section class="popular-recipes">
					<h2>인기 요리법</h2>
					<a href="yakitori.html">야키토리(Yakitori) - 구운 닭</a>
					<a href="">츠쿠네(Tsukune) - 닭꼬치</a>
					<a href="okonomiyaki.html">오코노미야끼(Okonomiyaki) - 해물 부침개</a>
					<a href="">미즈타키(Mizutaki) - 영계백숙</a>
				</section>
				<section class="contact-details">
					<h2>연락처</h2>
					<p>Yoko's Kitchen<br />
					6, Teheran-ro 14-gil, Gangnam-gu, <br />
					Seoul, Republic of Korea</p>
				</section>
			</aside>
			
			<footer>
				Copyright &copy; 1998-2022 KH Information Educational Institute All Right Reserved.
				Contact webmaster for more information. 1544-9970
			</footer>
		</div> <!-- .wrapper -->
	</body>
</html>