<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>dog-main</title>
      <link rel="stylesheet" type="text/css" href="../css/layout.css" />
      <link rel="stylesheet" type="text/css" href="../css/dog_style.css" />
   </head>
   <body>
      <div id="container">
         <header>
            <h1>더불어살기-강아지 MBTI 5가지(강아지와의 즐거운 생활을 위한 성격파악)</h1>
         </header>
         <nav>
            <ul>
               <li><a href="layout.html">애완견 종류</a></li>
               <li><a href="adoption.html">입양하기</a></li>
               <li><a href="health.html">건강돌보기</a></li>
               <li><a href="together.html">더불어살기</a></li>
            </ul>
         </nav>
         <section>
            <article>
               <div class="dog" id="dog1">
                  <img class="dog_icon" src="../image/layout_icon.png" />
                  <h4>리더형<br>(The Confident Dog)</h4>
                  <dl>
                     <dt>(1)무리 욕구 강함</dt>
                     <dt>(2)적응력 강함</dt>
                     <dt>(3)공격형 자기방어</dt>
                     
                     <dd>리더형 강아지는 자신감에 차있으며 두려움을 많이 느끼지 않아요. 무리의 서열을 정리해 우두머리에 서서 다른 강아지들을 이끌고 싶어 한답니다. 리더인 만큼 자기주장도 센 편이라 훈련 시 주의해야 하는데요. 강압적이게 훈련할 경우 공격성을 보일 수 있어서 칭찬과 보상을 통한 긍정적이고 부드러운 훈련 방법을 사용하는 게 좋답니다.</dd>
                  </dl>
               </div>
               
               <div class="dog" id="dog2">
                  <img class="dog_icon"  src="../image/layout_icon.png" />
                  <h4>독립적인 유형<br>(The Independent Dog)</h4>
                  <dl>
                     <dt>(1)무리 욕구 약함</dt>
                     <dt>(2)적응력 강함</dt>
                     <dt>(3)공격형 자기방어</dt>
                     <dd>무리 욕구가 강하지 않은 독립적인 유형의 강아지의 경우 여러 사람의 관심을 받는 것에 크게 관심이 없어요. 가족 구성원 중에서도 한 사람을 유독 따르며 그 사람의 관심을 받는 것을 좋아합니다.
                  독립적인 강아지의 경우 자기주장도 강한 편이 때문에, 리더형과 마찬가지로 강압적인 훈련은 하지 않는 게 좋답니다.</dd>
                  </dl>
               </div>
               
               <div class="dog" id="dog3">
                  <img class="dog_icon"  src="../image/layout_icon.png" />
                  <h4>소심한 유형<br>(The Shy or Timid Dog)</h4>
                  <dl>
                     <dt>(1)무리 욕구 약함</dt>
                     <dt>(2)적응력 약함</dt>
                     <dt>(3)도주형 자기방어</dt>
                     <dd>자신감에 찬 강아지가 있는 반면 소심한 성격을 가진 강아지도 있어요. 이런 성격의 강아지들은 낯선 상황에서 쉽게 겁을 먹고 다른 사람이나 강아지에게 큰 관심이 없습니다.
                  무리하게 낯선 장소에 데려가거나 친구를 만들어 준다고 다른 강아지를 소개해 주려고 하면 스트레스를 받을 수 있어요. 천천히 그리고 칭찬을 많이 해주며 적응시키는 게 좋답니다.</dd>
                  </dl>
               </div>
               
                <div class="dog" id="dog4">
                   <img class="dog_icon"  src="../image/layout_icon.png" />
                  <h4>긍정적인 유형<br>(The Laidback, Happy Dog)</h4>
                  <dl>
                     <dt>(1)무리 욕구 강함</dt>
                     <dt>(2)적응력 강함</dt>
                     <dt>(3)사고뭉치</dt>
                     <dd>긍정적으로 활발한 성격으로 세상 만물을 사랑하는 유형의 강아지도 있어요. 사람, 강아지, 고양이 가릴 것 없이 모두에게 잘 다가가는 다정한 강아지랍니다.
                  아주 열정적인 성격인 대신 쉽게 흥분하며 조심성이 없는 편이라 보호자가 강아지의 행동을 잘 살펴보는 게 좋답니다.</dd>
                  </dl>
               </div>
               
               <div class="dog" id="dog5">
                  <img class="dog_icon"  src="../image/layout_icon.png" />
                  <h4>적응력이 높은 유형<br>(The Adaptable Dog)</h4>
                  <dl>
                     <dt>(1)무리 욕구 강함</dt>
                     <dt>(2)적응력 강함</dt>
                     <dt>(3)보호자를 기쁘게 만들고 싶어 함</dt>
                     <dd>적응력이 높은 유형의 강아지는 긍정적인 유형의 강아지와 비슷하면서도 조금 달라요.
                  적응력이 높은 강아지가 긍정형 성격의 강아지보다는 차분하며, 유난히 보호자를 기쁘게 하는 일을 좋아하는 열정적인 성격을 가지고 있답니다. 보호자의 칭찬을 받는 걸 매우 좋아하기 때문에 훈련도 빠르게 성공하는 편이랍니다.
                  적응형 강아지는 성격이 순해 테라피견으로 활동하기 가장 좋은 성격이라고 알려져 있어요.</dd>
                  </dl>
               </div>
               
               <div class="dog" id="dog6">
                  <img class="dog_icon"  src="../image/layout_icon.png" />
                  <h4>강아지 성격에 영향을 주는 요인</h4>
                  <dl>
                     <dt>유전적인 요인 (선천적)</dt>
                     <dd>(1)견종별 성격</dd>
                     <dd>(2)부모견의 성격</dd>
                     <dd>(3)선천적인 기질</dd>
                     
                     <dt>환경적 요인 (후천적)</dt>
                     <dd>(1)사회화 정도</dd>
                     <dd>(2)성장기 환경</dd>
                  </dl>
                   <img id="dog_pic" src="../image/dog.png" />
               </div>
               
            </article>
         </section>
         <aside ID="dog_a">
            <h4>강아지 성격 및 특징</h4>
            <ul>
               <li>무리 욕구가 강한가요? 강아지는 기본적으로 무리 생활을 하는 동물로 알려져 있어요. 무리 욕구가 강한 경우 다른 강아지, 사람과 잘 어울리고 관심을 받는 걸 좋아합니다.
               반면 독립성이 강한 경우도 있는데요. 이런 경우 다른 강아지나 사람에게는 큰 관심이 없고, 특정 한 사람을 따르는 걸 좋아하는 경우가 많습니다.
               </li>
               <li>자신을 방어하는 방법은요? 강아지가 낯설고 두려운 상황에서는 스스로를 방어하는 행동을 하게 되는데요. 이때 강아지의 방어 유형은 크게 두 가지로 나눌 수 있습니다.
               공격형 자기방어(다른 강아지를 만나면 공격성을 보여요), 도주형 자기방어(낯선 사람이 다가오면 피하려고 해요)
               </li>
               <li>적응력이 어떤가요? 적응력이 좋은 강아지의 경우 호기심이 많고 자신감도 넘치는 대신 고집이 센 경우가 있어요.
               반대로 적응력이 약한 경우 성격이 조심스럽고 신중한 장점을 가진 대신 소심할 수 있답니다.
               </li>
            </ul>
         </aside>
         <footer>
            Copyright &copy; 1998-2022 KH Information Educational Institute All Right Reserved.
            Contact webmaster for more information. 1544-9970
         </footer>
      </div>
   </body>
</html>