<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>yakitori</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../css/yakitori.css" />
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>Yoko's Kitchen</h1>
				<nav>
					<ul>
						<li><a href="main.html" class="current">홈</a></li>
						<li><a href="">교실</a></li>
						<li><a href="">케이터링</a></li>
						<li><a href="">소개</a></li>
						<li><a href="">연락처</a></li>
					</ul>
				</nav>
			</header>
		
			<section class="courses">
				<article class="more-articles">
					<h2>닭고기를 사용한 야키토리</h2>
					<img src="../image/yakitori.jpg" alt="yakitori" />
					<div>사사미(ささみ)는 닭가슴살을 꼬치에 꿰어 구운 것이다. 들깻잎, 우메보시 (梅干し) 등을 추가해 넣고 구울 때도 있다.</div>
					<div>테바사키(手羽先)는 닭의 날개살 중 윗부분을 꼬치에 꿰어 구운 것이다.</div>
					<div>모모(もも)는 닭의 넓적다리를 꼬치에 꿰어 구운 것이다.</div>
				</article>
				<article class="more-articles">
					<h2>야키토리 만드는 방법</h2>
					<img src="../image/yakitori2.jpg" alt="yakitori2" />
					<div>타레(たれ)는 야키토리에는 일반적으로 간장과 미림, 설탕을 배합해서 만든 소스인 ‘타레’를 발라 먹는다.</div>
					<div>쿠시(串, くし)는 일반적으로 야키토리에는 대나무 혹은 나무로 된 쿠시(꼬치)를 사용한다.</div>
					<div>스미비(炭火, 숯불)는 강한 화력의 숯불을 이용한다.</div>
				</article>
			</section>
			
			<aside>
				<section class="popular-recipes">
					<h2>인기 요리법</h2>
					<a href="yakitori.html">야키토리(Yakitori) - 구운 닭</a>
					<a href="">츠쿠네(Tsukune) - 닭꼬치</a>
					<a href="okonomiyaki.html">오코노미야끼(Okonomiyaki) - 해물 부침개</a>
					<a href="">미즈타키(Mizutaki) - 영계백숙</a>
				</section>
				<section class="contact-details">
					<h2>연락처</h2>
					<p>Yoko's Kitchen<br />
					6, Teheran-ro 14-gil, Gangnam-gu, <br />
					Seoul, Republic of Korea</p>
				</section>
			</aside>
			
			<footer>
				Copyright &copy; 1998-2022 KH Information Educational Institute All Right Reserved.
				Contact webmaster for more information. 1544-9970
			</footer>
		</div> <!-- .wrapper -->
	</body>
</html>