@charset "UTF-8";

.main {
   /* height: 620px; */
   height: 100%;
   /* width: 27%; */
   float: left;
}

#food-title {
	width: 80%;
}

.ul1 {
   clear: both;
   margin: 0px 0px 20px 0px;
}

.ul2 {
   clear: both;
}

.injection, .food {
	height: 50%;
}

.video iframe {
	margin: 10px;
	width: 90%; 
	height: 150px; 
}
.videoframe {
	height: 300px;
}

article h2 {
   float: left;
}

article h3 {
   float: left;
}
