@charset "UTF-8";

/* 전체 */
@font-face {
          font-family: 'GangwonEdu_OTFBoldA';
          src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
          font-weight: normal;
          font-style: normal;
      }
      
      *{
          font-family: 'GangwonEdu_OTFBoldA';
          font-size: 16px;
      }

#container {
	/* background-color: #333; */
	background-image: url("../image/layout_bg.jpg");
	width: 80%;
	margin: 0 auto;
}

/* 헤더 */
header {
	/* color: white; */
	color: #069;
	/* background-color: #069; */
	background-image: url("../image/layout_bg.jpg");
}
header h1 {
	font-size: 20px;
	padding: 30px 10px;
	margin: 0px 10px;
}

/* nav */
nav {
	display: inline-block;
	float: left;
	/* height: 750px; */
	width: 17%;
	margin: 0px;
	padding: 10px;
}
nav ul {
	padding: 0px;
}
nav li {
	list-style: none;
	padding: 5px;
	font-size: 20px;
}
nav ul a {
	text-decoration: none;
	/* color: white; */
	color: #069;
	font-weight: bold;
}

/* section */
article{
	width: 81%;
	background-color: #ffffff;
	overflow: auto;
}
article div {
	border: 1px dotted black;
	height: 100%;
	width: 31%;
	float: left; 
	margin: 5px;
	padding: 5px;
}
article div img {
	display: inline;
	float: left;
	margin: 20px 0px 0px 0px;
	width: 25px; height: 25px;
}
article h3 {
	float: left;
	margin: 20px 0px 5px 5px;
}
dl {
	clear: both;
}
article dl dt {
	color: purple;
	font-weight: bold;
}
aside {
	background-color: #DAD9FF;
	color: #353535;
	clear: both;
	padding: 5px;
}

/* footer */
footer {
	color: white;
	background-color: #333;
	font-size: 10px;
	text-align: center;
	padding: 2vh 0px;
}


@media ( max-width: 600px ) {
	#container {
		width: auto;
		text-align: center;
	}
	nav {
		display: block;
		width: 100%;
		text-align: center;
	}
	section {
		float: none;
		clear: both;
		width: auto;
	}
	aside {
		float: none;
		clear: both;
		width: auto;
	}
}
