@charset "UTF-8";

/* section 영역 */
section.courses {
	width: 659px;
	border-right: 1px solid #eeeeee;
}

/* section 내 컨텐츠(article) 영역 */
article.more-articles {
	padding: 5px;
	margin: 10px;
}
.more-articles img {
	float: left; 
	width: 290px;
	height: 190px;
	margin-right: 10px;
	border: 1px solid #eeeeee;
}
.more-articles div {				
	padding-bottom: 10px;
	font-size: 95%;
	border-bottom: 1px solid #eeeeee;
}
.more-articles div:last-child {
	border-bottom: none;
}
.video {
	float: left; 
	margin: 0px 10px 0px 0px;
}
