<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="/common/common.html :: head">
	<body>
		<div class="container">
			<div class="page-header"><h3 class="text-center">학생 정보 입력</h3></div>
			<div>
				<form id="studentForm" class="form-inline" th:object="${studentDTO}"><!-- th:action="studentView" method="post" -->
					<table class="table table-striped">
						<tbody>
							<tr>
								<td>학번</td>
								<td class="text-left">
									<input type="text" class="form-control" th:field="*{id}" />
								</td>
							</tr>
							<tr>
								<td>학색명</td>
								<td class="text-left">
									<input type="text" class="form-control" th:field="*{name}" />
								</td>
							</tr>
							<tr>
								<td>나이</td>
								<td class="text-left">
									<input type="text" class="form-control" th:field="*{age}" />
								</td>
							</tr>
							<tr>
								<td>성별</td>
								<td class="text-left">
									<label class="radio-inline">
										<input type="radio" th:field="*{gender}" value="남성" />남성
									</label>
									<label class="radio-inline">
										<input type="radio" th:field="*{gender}" value="여성" />여성
									</label>
								</td>
							</tr>
							<tr>
								<td>학년</td>
								<td class="text-left">
									<th:block th:each="grade : ${grades}">
										<label class="radio-inline">
											<input type="radio" th:field="*{grade}" th:value="${grade.name()}"/>
											[[${grade.description}]]
										</label>
									</th:block>
								</td>
							</tr>
							<tr>
								<td>재학여부</td>
								<td class="text-left">
									<label class="checkbox-inline">
										<input type="radio" th:field="*{grade}" th:value="${grade.name()}"/>
										[[${grade.description]]
									</label>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</body>	
</html> 
