<!DOCTYPE html>
<!-- 웹 개발에 있어 템플릿 엔진이란 지정된 템플릿 양식과 데이터가 합쳐져 HTML 문서를 출력하는 소프트웨어를 의미한다.
	 서버 템플릿 엔진을 이용한 화면 생성은 서버에서 Java 코드로 문자열을 만든 뒤 이 문자열을 HTML로 변환하여 브라우저로 전달한다.
	 자바에서 사용할 수 있는 서버 템플릿 엔진에는 JSP, Mustache(머스테치), Thymeleaf(타임리프) 등이 존재한다.
	 타임리프(thymeleaf)는 스프링부트에서 사용하는 템플릿 엔진으로 HTML 태그에 속성으로 템플릿 기능을 사용하는 방식이다.
 -->
 <html lang="ko" xmlns:th="http://www.thymeleaf.org">
 	<!-- common.html 안에 있는 head fragment가 현재 head 태그 자리에 그대로 변경되어 반영 -->
	<head th:replace="/common/common.html :: head">

	<body>
		<!-- Thymeleaf를 사용하는 방법은 4가지가 있다. 변수식으로 사용하는 ${}와 메세지방식 #{}, 객체변수식인 *{}, 링크방식 @{}이 있다. -->
		<div class="container">
			<div class="page-header">
				<h3 class="text-center">Thymeleaf 예제</h3>
			</div>
			
			<!-- 타임리프 엔진에서는 th를 사용한다. -->
			<!-- th:text는 텍스트를 출력한다는 속성으로서 th:text="${속성}을 입력하면 해당 속성의 값이 text로 출력이 된다는 것. -->
			<!-- th:utext는 html 태그가 있다면 태그값을 반영해서 표시 -->
			<!-- th:value는 엘리먼트들의 value값을 지정할 수 있다. <button th:value="${hello}" /> -->
			<!-- th:with는 변수값을 지정해서 사용할 수 있다. <div th:with="temp=${hello} th:text="${temp}" -->
			
			<div>
				<label>th:text는 텍스트를 출력한다는 속성</label>
				<p th:text="${data1}"></p>
				<p>[[${data1}]]</p>
			</div>
			
			<div>
				<label>th:utext는 html 태그가 있다면 태그값을 반영해서 표시</label>
				<p th:utext="${data2}"></p>
				<p>[(${data2})]</p>
			</div>
			
			<!-- 소스코드 상에서 고정된 값을 리터럴이라 한다 -->
			<div>
				<label>리터럴</label>
				<p th:text="'text'"></p>
				<p th:text="text"></p>
				<p th:text="'hello world'"></p><!-- 문자열에 공백이 포함되어 있으면 ''으로 명시 -->
				
				<p th:text="'java' + ' fighting'"></p>
				<p th:text="'출력 : ' + ${data1}"></p>
				<!-- (important) ||을 사용하면 리터럴 대체(Literal substitutions)가 가능 -->
				<p th:text="|출력 : ${data1}|"></p>
			</div>
			
			<div>
				<label>연산</label>
				<ul>
					<li>
						산술 연산
						<ul>
							<li>10 + 2 = <span th:text="10+2"></span></li>
							<li>10 % 2 == 0 => <span th:text="10%2==0"></span></li>
						</ul>
					</li>
					<li>
						조건식
						<ul>
							<li>(10%2==0) ? '짝수' : '홀수' => <span th:text="(10%2==0) ? '짝수' : '홀수'"></span></li>
						</ul>
					</li>
					<li>
						Elvis 연산자 <!-- ${data}?: defaultValue -->
						<ul>
							<li>${data}?: '데이터가 없습니다.' = <span th:text="${data}?: '데이터가 없습니다.'"></span></li>
							<li>${nullData}?: '데이터가 없습니다.' = <span th:text="${nullData}?: '데이터가 없습니다.'"></span></li>
						</ul>
					</li>
					<li>
						No-Operation
						<!-- <p th:text="${nullData}?: _ "> default value </p> _인 경우 마치 타임리프가 실행되지 않는 것처럼 동작 -->
						<ul>
							<li>${data}?: _ = <span th:text="${data}?: _">데이터가 없습니다.</span>
							<li>${nullData}?: _ = <span th:text="${nullData}?: _">데이터가 없습니다.</span>
						</ul>
					</li>
				</ul>
			</div>
			
			<!-- if와 if else -->
			<p th:if="${number>5}">5보다 크다</p>
			<p th:unless="${number>5}">5보다 작다</p>
			
			<p th:if="${#strings.isEmpty(data)}">데이터가 존재하지 않습니다</p>
			<p th:unless="${#strings.isEmpty(data)}" th:text="${data}"></p>
			
			<!-- th:switch에서 th:case문으로 조건절 부여, *로 case문에서 다루지 않은 모든 경우가 처리된다. -->
			<p th:switch="${division}">
				<span th:case="user">사용자</span>
				<span th:case="admin">관리자</span>
				<span th:case="*">구분자 없음</span>
			</p>
			
			<!-- Object 접근 방법 - data.field / data['field'] / data.getField() -->
			<div>
				exampeDTO 필드 출력 - 1
				<ul>
					<li>이름: <span th:text="${exampleDTO.name}"></span></li>
					<li>나이: <span th:text="${exampleDTO.age}"></span></li>
					<li>이메일: <span th:text="${exampleDTO.email}"></span></li>
				</ul>
			</div>
			
			<div>
				exampleDTO 필드 출력 - 2
				<ul th:object="${exampleDTO}">
					<li>이름: <span th:text="*{name}"></span></li>
					<li>나이: <span th:text="*{age}"></span></li>
					<li>이름: <span th:text="*{email}"></span></li>
				</ul>
			</div>
			
			<div>
				단순 데이터 반복
				<!-- 반복 th:each 사용. th:each="변수 : ${#numbers.sequence(시작값,종료값)}" -->
				<!-- Numbers Class(org.thymeleaf.expression.Numbers)의 Utility method인
					 #numbers.sequence을 사용하여 먼저 원하는 반복 횟수 만큼의 배열을 생성 -->
				<table>
					<tr>
						<td>번호</td>
					</tr>
					<tr th:each="num : ${#numbers.sequence(1,5)}">
						<td th:text="${num}"></td>
					</tr>
				</table>
				
				<!-- 반복 th:each 사용. th:each="원소를 저장할 대상 : ${반복할 리스트}" -->
				<table class="table table-striped">
					<tr>
						<td>이름</td>
						<td>나이</td>
						<td>이메일</td>
					</tr>
					<tr th:each="example : ${list}">
						<td th:text="${example.name}"></td>					
						<td th:text="${example.age}"></td>					
						<td th:text="${example.email}"></td>					
					</tr>
				</table>
			</div>
			
			<!-- th:each="원소를 저장할 대상 : ${반복할 리스트}" th:object="${원소를 저장할 대상}" -->
			<!-- *{원소를 저장할 대상의 프로퍼티} ${상태 정보} -->
			<div>
				th:object를 사용한 반복
				<table class="table table-bordered">
					<tr>
						<td>번호</td>
						<td>이름</td>
						<td>이메일</td>
					</tr>
					<tr th:each="example : ${list}" th:object="${example}">
						<td th:text="${exampleStat.count}"></td>
						<td th:text="*{name}"></td>
						<td th:text="*{age}"></td>
						<td th:text="*{email}"></td>
					</tr>
				</table>
			</div>
			
			<!-- 반복 상태 정보는 원소를 저장할 대상 + Stat으로 명시 -->
			<div>
				반복 상태 유지(count)
				<table class="table table-bordered">
					<tr>
						<td>번호</td>
						<td>이름</td>
						<td>나이</td>
						<td>이메일</td>
					</tr>
					<tr th:each="example : ${list}">
						<td th:text="${exampleStat.count}"></td>
						<td th:text="${example.name}"></td>
						<td th:text="${example.age}"></td>
						<td th:text="${example.email}"></td>
					</tr>
				</table>
			</div>
			
			<div>
				반복 상태 유지(index)
				<table class="table table-bordered">
					<tr>
						<td>번호</td>
						<td>이름</td>
						<td>나이</td>
						<td>이메일</td>
					</tr>
					<tr th:each="example, status : ${list}">
						<td th:text="${status.index}"></td> <!-- exampleStat 작성 시 에러 -->
						<td th:text="${example.name}"></td>
						<td th:text="${example.age}"></td>
						<td th:text="${example.email}"></td>
					</tr>
				</table>
			</div>
			
			<div>
				<ul>
					<li>default = <span th:text="${localDateTime}"></span></li>
					<li>
						yyyy-MM-dd HH:mm:ss = <span th:text="${#temporals.format(localDateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
					</li>
					<li>
						yyyy-MM-dd/a hh:mm = <span th:text="${#temporals.format(localDateTime, 'yyyy-MM-dd/a hh:mm')}"></span>
					</li>
				</ul>
			</div>
			
			<!-- 타임리프에서 URL을 생성할 때는 @{...} 문법을 사용하면 된다. -->
			
			<!-- 단순한 URL 표현 @{/hello} : /hello -->
			<!-- 쿼리 파라미터를 포함하는 URL 표현 @{/hello(param1=${param1}, param2=${param2})} : /hello?param1=data1&param2=data2 -->
			<!-- 경로 변수 @{/hello/{param1}/{param2}(param1=${param1}, param2=${param2})} : /hello/data1/data2 URL 경로상 변수가 있으면 ()는 경로 변수로 처리된다. -->
			<!-- 경로 변수 + 쿼리 파라미터 @{/hello/{param1}(param1=${param1}, param2=${param2})} : /hello/data1?param2=data2 -->
			<div>
				<ul>
					<li><a th:href="@{/example/exam01}">basic url</a></li>
					<li><a th:href="@{/example/exam01(param1=java, param2=fighting)}">example query param</a></li>
				</ul>
			</div>
		</div>		
	</body>	
</html> 

				
