.flex-container {
    height: 700px;
    background-color: #ddd;

    display: flex; 
    /* 
        item(내부 요소)을 감싸는 요소의 형식을 flex로 변경
        -> item에 자동으로 지정된 margin의 요소가 모두 사라지고
            contents 영역 만큼의 크기만 가지게 됨

        item에 별도의 height/width가 지정되어 있지 않다면 
        item의 높이는 flex-container의 높이와 같아짐
        (flex-container 정렬 방향에 따라 다름)
    */


    /******************/
    /* flex-direction */
    /******************/

    /* 
        (flex-container 전용 속성)
        main axis의 방향과 시작 위치를 지정하는 속성
    */

    /* 행 방향(가로가 기본값) */
    flex-direction: row;

    /* 행 방향(가로) + 순서 반대 */
    /* flex-direction: row-reverse; 12345 -> 54321 */

    /* 열 방향(세로) */
    /* flex-direction: column; */

    /* 열 방향(세로) + 순서 반대 */
    /* flex-direction: column-reverse; */

    /*************/
    /* flex-wrap */
    /*************/

    /*
        내부 item들을 포장하는 속성
        item들이 강제로 한 줄에 배치되에 할 것인지

        flex-container가 줄어들면
        한 줄을 벗어나 여러 줄로 배치할 것인지를 지정
    */

    /* item 한 줄로 배치 */
    /* flex-wrap: nowarp; */ /* 포장을 안 해서 찌그러진다 */
    
    /* item 여러 줄로 배치 */
    flex-wrap: wrap;

    /* item 여러 줄로 배치(뒤에서부터 시작) */
    flex-wrap: wrap-reverse;

}