/*** 전체 & 구역 분할 ***************************************/




/*** header ***************************************/
#headerCommon { background-color: #00C73C; }
header { 
    width: 1100px;
    margin: 0 auto;
    display: flex;  
    color: white;
}

#header1 { flex-basis: 15%; }
#header2 { flex-basis: 65%; }
#header3 { flex-basis: 20%; }


#header1, #header2 {
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#search {
    background-color: #00C73C;
}

#header2 select {
    height: 40px;
    color: #00C73C;
    border-radius: 0;
    border-right: none;
}
#inputSearch {
    height: 40px;
    width: 250px;
    margin-left: 0;
    box-sizing: border-box;
    
}
#searchBtn {
    background-color: #28A93A;
    color: white;
    border: 1px solid rgb(7, 150, 7);
    height: 40px;
    margin-left: 10px;
}

#header3 {
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}
#loginBtn1 {
    border: 1px solid rgb(9, 172, 9);
    display: inline-block;
    margin: 10px 20px;
    padding: 10px;
}
#menuBtn {
    display: inline-block;
    background: url("menuBtn.png") no-repeat;
    border: none;
    cursor: pointer;
    height: 70px;
    width: 70px;
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
    border: 1px solid rgb(9, 172, 9);
}

/*** nav ***************************************/
nav li { 
    display: inline-block; 
    color: gray;
    font-weight: bold;
}

#headerNav {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerNav { height :60px; }
#headerNav ul { 
    display: flex; 
    margin: 0px;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}

#topLeftMenu li {
    display: inline-block; 
    line-height: 50px;
}

#topLeftMenu {
    align-items: center;
    width: 70%;
    padding-left: 0;
}
#topLeftMenu li {
    margin-right: 15px;
    height: 100%;
}

#activeHome {
    border-bottom: 3px solid #00C73C; 
    color: #00C73C; 
    font-weight: bold;
}

#topRigthMenu {
    justify-content: right;
    text-align: right;
    width: 30%;
}

#topRigthMenu :nth-child(1) {
    background-color: #00C73C;
    color: white;
    padding: 5px;
    height: 35px;
    box-sizing: border-box;
}
#topRigthMenu :nth-child(2) {
    border: 1px solid gray;
    height: 35px;
    padding: 5px 10px;
    box-sizing: border-box;
}



/*** section1 ***************************************/
#hotTopic { 
    background-color: #F5F5F6;
    margin-bottom: 15px;
    padding: 20px 0;
    display: flex;
}

#section1 {
    width: 1100px;
    margin: 0 auto;
    display: flex;
}
#section1-1 {
    flex-basis: 75%;
    margin-right: 25px;
}

#heading { display: inline-block; }

#imgDiv {
    display: flex;
    justify-content: space-between;
}
#imgDiv > div, #adDiv > div {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    display: inline-block;
}

.page {
    display: inline-block;
    justify-content: flex-end; /* 오른쪽으로 왜 안 갈까?????? */
}

/*** section2 ***************************************/
#section2-aside {
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

#section2 {
    flex-basis: 75%;
    margin-right: 25px;
}
#sectionNav ul {
    margin: 0;
    padding: 0;
}
#sectionNav ul li {
    margin: 0 5px;
}

.content {
    display: flex;
    height: 200px;
    margin: 20px 0;
}
.post1 { 
    flex-basis : 70%;
}
.post2 { flex-basis : 30%;}

.post1-1 {
    display: flex;
}
.userImg {
    width: 50px;
    height: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.nameAuthor {
    display: inline-block;
    height: 50%;
}
.time { 
    font-size: 13px; 
    height: 50%;
    /* display: inline-block; */
}

.thumbnail {
    width: 100%;
    height: 100%;
}

/*** aside ***************************************/
aside {
    flex-basis: 23%;
}

#login {
    border: 1px solid gray;
    padding: 5px;
    background-color: #F5F5F6;
}
.loginDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login p {
    font-size: 11px;
}

#loginBtn2 {
    padding: 10px 65px;
    background-color: #00C73C;
    color: white;
    font-weight: bold;
    border: none;
}

.login ul {
    margin: 0;
    padding-left: 0;
}
.loginDiv ul li {
    display: inline-block;
    font-size: 15px;
}

.ad {
    height: 250px;
    border: 1px solid rgb(233, 229, 229);
}

/*** footer ***************************************/
#footer { 
    background-color: #F6F6F6; 

    display: flex;
    justify-content: center;
}
footer {
    width: 1100px;
    margin: 0 auto;
    /* align-items: baseline; */
}
